params {
    base = '/N/project/Krolab/Siddharth/Pipelines/scRNA-seq'
    transcriptome = "${params.base}/reference/refdata-gex-GRCh38-2024-A"
    samplesheet = "${params.base}/samples.csv"

    integration_script = "${params.base}/Rscripts/integration.r"
    integration_dir = "${params.results}/integration"

    annotation_script = "${params.base}/Rscripts/annotation.r"
    annotation_method = 'singler' // Options: 'SingleR', 'Azimuth', 'clustifyR'
    annotation_dir = "${params.results}/annotation"
    
    results = "${params.base}/results"
    fastqc_dir = "${params.results}/fastqc"

    // Parameters for CellRanger
    skip_cellranger = false
    fallback_to_cellranger = true
    cellranger_dir = "${params.results}/cellranger"
    

}

profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'general'
            clusterOptions = '-A r00750'

            cpus = 8
            memory = '50.GB'
            time = '24.h'

            withName: 'QC' {
                cpus = 4
                memory = '20.GB'
                time = '6.h'
            }

            withName: "CellRanger" {
                cpus = 16
                memory = '120.GB'
                time = '72.h'
            }
        }
    }
}